body {
  margin: 0;

  font-family: 'Gilroy', 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  text-transform: normal;
  letter-spacing: 0.001em;
  color: #464646;
  
  background-color: #ffffff;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff') format('woff');
}

a {
  text-decoration: none;
}

.main-logo img {
  width: 165px;
  height: 35px;
}

.modal {
  display: none;
}

.page-header {
  background-color: #f7e296;
}

.catalog-page .logo:hover,
.catalog-page .logo:focus,
.catalog-page .footer-logo:hover,
.catalog-page .footer-logo:focus {
  filter: opacity(60%)
}

.catalog-page .logo:active,
.catalog-page .footer-logo:active {
  filter: opacity(30%)
}

.catalog-page .header-user-logout {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-page .header-user-logout:hover,
.catalog-page .header-user-logout:focus {
  color: rgba(0, 0, 0, 0.3);
}

.page-header input[type="search"] {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}

/* Search placeholder color */

.page-header input[type="search"]::-webkit-input-placeholder {
  font-family: 'Open Sans';
  color: rgb(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover::-webkit-input-placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

.page-header input[type="search"]::-moz-placeholder {
  font-family: 'Open Sans';
  color: rgb(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover::-moz-placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus::-moz-placeholder {
  color: #000000;
}

.page-header input[type="search"]:-ms-input-placeholder {
  font-family: 'Open Sans';
  color: rgb(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover:-ms-input-placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus:-ms-input-placeholder {
  color: #000000;
}

.page-header input[type="search"]:-moz-placeholder {
  font-family: 'Open Sans';
  color: rgb(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover:-moz-placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus:-moz-placeholder {
  color: #000000;
}

/* End of search placeholder color */

.page-header .search-button {
  font-family: 'Open Sans';
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
}

.page-header .search-button:hover,
.page-header .search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.page-header .search-button:active {
  color: rgba(255, 255, 255, 0.5);
}

.page-header-authorization,
.page-header-cart-operations {
  list-style: none;
}

.page-header-authorization a,
.page-header-cart-operations a {
  font-family: 'Open Sans';
  font-weight: normal;
  color: #000000;
}

.page-header-authorization a:hover,
.page-header-cart-operations a:hover,
.page-header-authorization a:focus,
.page-header-cart-operations a:focus {
  font-family: 'Open Sans';
  font-weight: normal;
  color: rgba(0, 0, 0, 0.5);
}

.page-header-authorization a:active,
.page-header-cart-operations a:active {
  color: rgba(0, 0, 0, 0.2);
}

.site-navigation ul {
  list-style: none;
}

.site-navigation {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

li[class^=catalog-menu-popup] a {
  font-family: 'Open Sans';
  font-size: 15px;
  line-height: 36px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0.001em;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.5);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.2);
}

.page-footer {
  background-color: #464646;
}

.footer-logo img {
  width: 165px;
  height: 35px;
}

.page-footer-authorization,
.page-footer-top-cart-operations {
  list-style: none;
}

.page-footer-authorization a,
.page-footer-top-cart-operations a {
  font-family: 'Open Sans';
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}

.page-footer-authorization a:hover,
.page-footer-authorization a:focus,
.page-footer-top-cart-operations a:hover,
.page-footer-top-cart-operations a:focus {
  color: #ffffff;
}

.page-footer-authorization a:active,
.page-footer-top-cart-operations a:active {
  color: rgba(255, 255, 255, 0.5);
}

.catalog-page .header-user-logout:active {
  color: #000000;
}

.catalog-page .footer-user-logout {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-page .footer-user-logout:hover,
.catalog-page .footer-user-logout:focus {
  color: #ffffff;
}

.catalog-page .footer-user-logout:active {
  color: rgba(255, 255, 255, 0.5);
}

.page-footer-address {
  font-family: 'Open Sans';
  letter-spacing: 0;
  color: #ffffff;
}

.page-footer-site-navigation {  
  list-style: none;
}

.page-footer-site-navigation a {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: normal;
  color: #ffffff;  
}

.page-footer-site-navigation a:hover,
.page-footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.page-footer-phone-number {
  font-family: 'Open Sans';
  letter-spacing: 0;
  color: #ffffff;
}

.page-footer-social {
  list-style: none;
}

.page-footer-social a {
  color: rgba(181, 181, 181, 0.6)
}

.page-footer-social a:hover,
.page-footer-social a:focus {
  color: #b5b5b5;
}

.page-footer-social a:active {
  color: rgba(181, 181, 181, 0.3)
}

.page-footer-copyright a {
  color: #f4be04;
}

.page-footer-copyright a:hover,
.page-footer-copyright a:focus {
  color: rgba(244, 190, 4, 0.6);
}

.page-footer-copyright a:active {
  color: rgba(244, 190, 4, 0.3);
}

.about-us-headline,
.contacts-headline {
  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us p,
.contacts p {
  font-family: 'Open Sans';  
  letter-spacing: 0;
}

.about-us ul {
  list-style: none;
}

.about-us-delivery-companies li {
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
  color: #000000;
}

.button {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;

  background-image: linear-gradient(to bottom, #ffffff 30%, #f0c52e 30%, #f0c52e 70%, #ffffff 70%);
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-image: none;
  background-color: #f0c52e;
}