@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
}

body {
  margin: 0;

  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0.001em;
  color: #464646;
  
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-header {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 185px;
  margin-top: 40px;
  margin-bottom: 200px;
  padding: 0 60px;

  background-color: #f7e296;
}

.catalog-page .page-header {
  margin-bottom: 38px;
}

.page-header-logo {
  position: relative;
  top: -18px;
}

.page-header-up {
  position: relative;
  top: -2px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin-bottom: 15px; 
}

.page-header-up .search {
  position: relative;   
  
  display: -webkit-box;   
  
  display: -ms-flexbox;   
  
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  margin-right: auto;
}

.page-header-authorization,
.page-header-cart-operations {
  list-style: none;
}

.page-header-authorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 280px;
  margin: 0;
  padding: 0;
}

.current-user {
  letter-spacing: 0.02em;
}

.current-user-link {
  position: relative;
}

.current-user-link::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 1px;
  width: 13px;
  height: 12px;

  background-image: url("../img/shared/user.svg");  
}

.page-header-authorization .header-user-logout {
  padding-left: 20px;

  opacity: 0.3;
}

.page-header-cart-operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 220px;
  margin: 0;
  padding: 0;
}

.page-header-cart-operations li:last-of-type {
  margin-left: 36px;
}

.page-header-authorization a,
.page-header-cart-operations a {
  position: relative;

  padding-left: 28px;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
}

.login-link::before {
  content: url("../img/shared/user.svg");
  
  position: absolute;
  top: -6px;
  left: 1px;
}

.compare-link::before {
  content: url("../img/shared/compare.svg");

  position: absolute;
  top: -6px;
  left: 8px;
}

.cart-link::before {
  content: url("../img/shared/cart.svg");

  position: absolute;
  top: -6px;
  left: 6px;
}

.page-header-authorization a:hover,
.page-header-cart-operations a:hover,
.page-header-authorization a:focus,
.page-header-cart-operations a:focus {
  opacity: 0.6;
}

.page-header-authorization a:active,
.page-header-cart-operations a:active {
  opacity: 0.3;
}

.site-navigation {
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.site-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-navigation .selected-goods-type:hover {
  color: #000000;
}

.catalog-menu-popup-section {
  position: relative;

  margin-right: auto;
}

.site-navigation-catalog > li {
}

.site-navigation-catalog > li:nth-of-type(3) {
  margin-left: 32px;
}

.site-navigation-catalog > li:last-of-type {
  margin-left: 106px;
  margin-right: -4px;
}

.catalog-menu-popup-link {
  position: relative;

  padding-right: 30px;
}

.catalog-menu-popup-link::after {
  content: url("../img/shared/plus.svg");

  position: absolute;
  top: 0;
  right: 4px;
  
  opacity: 0.3;
}

.catalog-menu-popup-background-wrapper {
  position: absolute;
  top: 30px;
  left: -60px;

  width: 1038px;
  padding: 0 61px;
  padding-top: 16px;

  background-color: #f7e296;
}

.catalog-menu-popup {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 142px;
}

.catalog-menu-popup-section:hover .catalog-menu-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu-popup-background-wrapper:hover .catalog-menu-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-menu-popup-item {
  min-width: 138px;
  min-height: 36px;
  margin-right: 62px;
}

.kvadrokopters-menu-option {
  margin-left: 15px;
  min-height: 142px;
}

.catalog-menu-popup-item a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.001em;
}

.index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}

.about-us {
  width: 475px;
}

.contacts {
  width: 560px;
}

.about-us-headline,
.contacts-headline {
  position: relative;

  margin: 0;
  margin-bottom: 44px;

  font-size: 47px;
  line-height: 48px;
  color: #000000;
}

.about-us-headline::before,
.contacts-headline::before {
  content: "";

  position: absolute;
  top: -52px;
  left: 1px;

  width: 80px;
  height: 7px;

  background-color: #000000;
} 

.about-us p,
.contacts p {
  margin: 0;
  margin-bottom: 31px;

  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.contacts p {
  margin-bottom: 40px;
}

p.about-us-info-delivery-ad {
  margin-bottom: 60px;

  letter-spacing: 0;
}

.about-us-delivery-companies {
  margin: 0;
  margin-bottom: 53px;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.about-us-delivery-companies li {
  position: relative;

  padding-left: 37px;

  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0;
  color: #000000;
}

.about-us-delivery-companies li::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 2px;

  width: 4px;
  height: 4px;

  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.1;
}

.contacts-map {
  margin-bottom: 58px;
}

.main-logo svg {
  width: 165px;
  height: 35px;
}

.footer-logo svg {
  fill: #ffc600;
}

.catalog-page .main-logo:hover,
.catalog-page .main-logo:focus {
  opacity: 0.6;
}

.catalog-page .main-logo:active {
  opacity: 0.3;
}

.catalog-page .header-user-logout {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-page .header-user-logout:hover,
.catalog-page .header-user-logout:focus {
  color: rgba(0, 0, 0, 0.3);
}

.page-header input[type="search"] {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;

  background-color: transparent;
  border: none;
}

.page-header input[type="search"]:focus {
  border-bottom: 2px solid #000000;
}

/* Search placeholder color */

.page-header input[type="search"]::-webkit-input-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus::-webkit-input-placeholder {
  color: #000000;
}

.page-header input[type="search"]::-moz-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus::-moz-placeholder {
  color: #000000;
}

.page-header input[type="search"]:-ms-input-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus:-ms-input-placeholder {
  color: #000000;
}

.page-header input[type="search"]:-moz-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
}

.page-header input[type="search"]:hover:-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.page-header input[type="search"]:focus:-moz-placeholder {
  color: #000000;
}

/* End of search placeholder color */

.page-header-up .search-field {
  min-width: 356px;
  height: 39px;
  padding-left: 40px;
  padding-bottom: 10px;

  background-image: url("../img/shared/search.svg");
  background-position: 4px 7px;
  background-repeat: no-repeat;
}

.page-header .search-button {
  position: relative;
  top: -10px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  width: 85px;
  min-height: 49px;
  padding: 10px 0;
  padding-left: 19px;
  padding-right: 21px;
  align-self: flex-start;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  vertical-align: middle;
  color: #000000;

  background-color: transparent;
  border: 2px solid #000000;
  opacity: 0;
}

.search-field:focus + .search-button {
  opacity: 1;
}

.page-header .search-button:hover,
.page-header .search-button:focus {
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
}

.page-header .search-button:active {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 81px;
  min-height: 323px;

  background-color: #464646;
}

.page-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 66px;
  margin-bottom: 19px;
}

.footer-logo {
  margin-right: auto;
}

.footer-top-right-column {
  position: relative;
  top: -2px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 480px;
}

.page-footer-authorization,
.page-footer-cart-operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer-authorization {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 225px;
  margin: 0;
  padding: 0;
}

.page-footer-authorization a,
.page-footer-cart-operations a {
  padding-left: 5px;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.page-footer-authorization .footer-user-logout {
  right: 0;

  margin-left: 18px;
  padding-left: 0;
}

.page-footer-authorization .footer-login-link {
  position: relative;
  right: 0;

  margin-left: 0;
  padding-left: 27px;
}

.footer-top-icon {
  fill: #ffc600;
}

.page-footer-cart-operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 212px;
}

.page-footer-cart-operations .footer-compare-link {
  position: relative;

  padding-left: 21px;
}

.page-footer-cart-operations .footer-cart-link {
  position: relative;

  padding-left: 24px;
}

.user-icon {
  position: absolute;
  top: 4px;
  left: 1px;
}

.compare-icon {
  position: absolute;
  top: 6px;
  left: 1px;
}

.cart-icon {
  position: absolute;
  top: 4px;
  left: 2px;
}

.page-footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 58px;
}

.page-footer-address {
  position: relative;

  width: 360px;
  margin: 0;
}

.page-footer-address::after {
  content: "";

  position: absolute;
  top: 107px;
  left: 1px;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.page-footer-site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 440px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  padding-right: 5px;
  padding-left: 7px;
}

.page-footer-phone-number {
  position: relative;
  left: 2px;

  margin: 0;
  margin-left: auto;
}

.page-footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;  
  -webkit-box-pack: end;  
      -ms-flex-pack: end;  
          justify-content: flex-end;
}

.page-footer-bottom-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 660px;
  margin-left: 500px;
}

.page-footer-authorization a:hover,
.page-footer-authorization a:focus,
.page-footer-cart-operations a:hover,
.page-footer-cart-operations a:focus {
  color: #ffffff;
}

.page-footer-authorization a:hover svg,
.page-footer-authorization a:focus svg,
.page-footer-cart-operations a:hover svg,
.page-footer-cart-operations a:focus svg{
  opacity: 0.6;
}

.page-footer-authorization a:active,
.page-footer-cart-operations a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-authorization a:active svg,
.page-footer-cart-operations a:active svg {
  opacity: 0.3;
}

.catalog-page .header-user-logout:active {
  color: #000000;
}

.catalog-page .footer-user-logout {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-page .footer-user-logout:hover,
.catalog-page .footer-user-logout:focus {
  color: #ffffff;
}

.catalog-page .footer-user-logout:active {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer-address {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  color: #ffffff;
}

.page-footer-site-navigation {  
  list-style: none;
}

.page-footer-site-navigation a {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;  
}

.page-footer-site-navigation a:hover,
.page-footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-phone-number {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0;
  color: #ffffff;
}

.page-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-right: 440px;
  padding: 0;
  padding: 0 10px;
  width: 160px;

  list-style: none;
}

.page-footer-social a {
  color: rgba(181, 181, 181, 0.3);
}

.page-footer-social a:hover,
.page-footer-social a:focus {
  color: rgba(181, 181, 181, 0.6);
}

.page-footer-social a:active {
  color: rgba(181, 181, 181, 0.1);
}

.social-icon {
  opacity: 0.3;
}

.social-icon:hover,
.social-icon:focus {
  opacity: 0.6;
}

.social-icon:active {
  opacity: 0.1;
}

.page-footer-copyright {
  width: 27px;
  padding-left: 33px;
}

.page-footer-copyright a {
  color: #f4be04;
}

.footer-copyright-image {
  position: relative;
  bottom: 15px;

  fill: #f4be04; 
}

.footer-copyright-image:hover,
.footer-copyright-image:focus {
  opacity: 0.6;
}

.footer-copyright-image:active {
  opacity: 0.3;
}

.page-footer-copyright a:hover,
.page-footer-copyright a:focus {
  color: rgba(244, 190, 4, 0.6);
}

.page-footer-copyright a:active {
  color: rgba(244, 190, 4, 0.3);
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 260px;
  padding: 8px 0;
  padding-left: 7px;

  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  color: #000000;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #ffffff), color-stop(35%, #f0c52e), color-stop(65%, #f0c52e), color-stop(65%, #ffffff));

  background-image: -webkit-linear-gradient(top, #ffffff 35%, #f0c52e 35%, #f0c52e 65%, #ffffff 65%);

  background-image: -o-linear-gradient(top, #ffffff 35%, #f0c52e 35%, #f0c52e 65%, #ffffff 65%);

  background-image: linear-gradient(to bottom, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #ffffff 60%);
  border: 0;
}

.button:hover,
.button:focus {
  background-image: none;
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);

  background-image: none;
  background-color: #f0c52e;
}

.catalog-page .page-headline {
  margin: 0;
  margin-bottom: 25px;

  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 38px;
}

.breadcrumbs li:last-of-type {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -20px;

  width: 4px;
  height: 7px;

  background-image: url("../img/shared/nav-arrow.svg");
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs,
.breadcrumbs a {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.filters ul {
  list-style: none;
}

.filters fieldset {
  margin: 0;
  margin-left: 60px;
  margin-bottom: 43px;
  padding: 0;  

  border: 0;
}

.filters fieldset:last-of-type {
  margin-bottom: 38px;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.filters .filter-color {
  margin-top: 40px;
}

.filters legend {
  position: relative;

  margin-bottom: 18px;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.filters legend::before {
  content: "";

  position: absolute;
  top: -12px;
  left: 0;

  width: 200px;
  height: 2px;

  background: #000000;
}

.filters li {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #000000;
}

.filter label {
  position: relative;

  padding-left: 40px;
}

.filter-color label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/catalog/checkbox.svg");
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/catalog/checkbox-checked.svg");
}

.filter-bluetooth label::before {
  content: "";

  position: absolute;
  top: -4px;
  left: -1px;

  width: 17px;
  height: 17px;
  
  border-radius: 50%;
  border: 4px solid #000000;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: 7px;

  width: 9px;
  height: 9px;

  background: #000000;
  border-radius: 50%
}

.filter-input:hover + label,
.filter-input:focus + label {
  opacity: 0.6;
}

.filter-input:active + label {
  opacity: 1;
}

.filter-input:disabled + label {
  color: #a6a6a6;

  opacity: 0.25;
}

.filters-button {
  margin-left: 60px;

  width: 200px;

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #eeeeee), color-stop(35%, #f0c52e), color-stop(65%, #f0c52e), color-stop(65%, #eeeeee));

  background-image: -webkit-linear-gradient(top, #eeeeee 35%, #f0c52e 35%, #f0c52e 65%, #eeeeee 65%);

  background-image: -o-linear-gradient(top, #eeeeee 35%, #f0c52e 35%, #f0c52e 65%, #eeeeee 65%);

  background-image: linear-gradient(to bottom, #eeeeee 35%, #f0c52e 35%, #f0c52e 65%, #eeeeee 65%);
}

.products ul {
  list-style: none;
}

.products-list-item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.products-list-item img {
  margin-bottom: 33px;
}

.products-list-item h3 {
  margin: 0;

  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.products-list-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
}

.product-list-item-buttons {
  position: absolute;
  top: 170px;
  left: 80px;  
  
  text-align: center;  

  opacity: 0;
}


.products-list-item:hover .product-list-item-buttons,
.products-list-item:focus .product-list-item-buttons {
  opacity: 1;  
}

.products-list-item::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 379px;

  background-color: #eeeeee;
  opacity: 0.7;

  cursor: pointer;
}

.products-list-item:hover::before,
.products-list-item:focus::before {
  display: block;
}

.product-list-item-buttons .to-cart-button {
  position: relative;
  z-index: 0;

  width: 200px;
  min-height: 40px;
  padding-top: 9px;
  padding-right: 7px;
  
  background-color: transparent;
  background-image: none;
}

.product-list-item-buttons .to-cart-button::before {
  content: "";

  position: absolute;
  top: 17px;
  left: 0;
  z-index: -1;

  width: 200px;
  height: 8px;

  background-color: #f0c52e;
}

.new-product{
  position: relative;
}

.new-product .product-card-upper-part::before {
  content: "";

  position: absolute;
  top: 30px;
  right: 26px;

  width: 56px;
  height: 55px;

  border: 2px solid #000000;
  border-radius: 50%;
  opacity: 0.1;
}

.new-product .product-card-upper-part::after {
  content: "NEW";

  position: absolute;
  top: 49px;
  right: 38px;

  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;

  opacity: 0.2;
}

.product-list-item-buttons .to-compare-button {
  display: block;
  min-height: 51px;
  padding-top: 7px;  

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);

  border: 0;
  background-color: transparent;
}

.product-list-item-buttons .to-cart-button,
.product-list-item-buttons .to-compare-button {
  cursor: pointer;
}

.product-list-item-buttons .to-cart-button:hover,
.product-list-item-buttons .to-cart-button:focus {
  background-color: #f0c52e;
}

.product-list-item-buttons .to-compare-button:hover,
.product-list-item-buttons .to-compare-button:focus {
  color: #000000;
}

.product-list-item-buttons .to-compare-button:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-card-upper-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -webkit-box-ordinal-group: 2;

      -ms-flex-order: 1;

          order: 1;
}

.product-card-upper-part h3 {
  width: 255px;

  letter-spacing: 0.001em;
}

.product-card-upper-part p {
  margin: 0;
}

.catalog-page .page-footer {
  margin-top: 0;
}

.centring-wrapper {
  width: 1040px;
  margin: 0 auto;
  padding: 0 80px;
}

.catalog-wrapper {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #eeeeee), color-stop(30%, white));
  background-image: -webkit-linear-gradient(left, #eeeeee 30%, white 30%);
  background-image: -o-linear-gradient(left, #eeeeee 30%, white 30%);
  background-image: linear-gradient(to right, #eeeeee 30%, white 30%);
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
}


.filters {
  width: 328px;

  background-color: #eeeeee; 
}

.products {
  width: 760px;

  margin-bottom: 72px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  margin: 0;
  padding: 0;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.products-list-item {
  width: 360px;
  min-height: 455px;
  margin-right: 40px;
}

.products-list-item:nth-child(2n) {
  margin-right: 0;
}

.modal {  
  position: fixed;
  top: 100px;
  left: 50%;

  display: none; 

  transform: translateX(-50%);

  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal-contact-us {
  margin: 0 auto;
  padding: 0 100px;
  width: 760px;
  min-height: 555px;

  font-family: 'Gilroy', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #000000;

  background-color: #ffffff;
}

.contact-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us-form p {
  margin: 0;
  padding: 0;
}

.contact-us-form input[type="text"] {
  margin-top: 6px;
  margin-bottom: 35px;
}

.contact-us-form textarea {
  margin-top: 6px;
  margin-bottom: 42px;
}

.contact-us-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

.contact-us-upper p {
  width: 360px;
}


.contact-us-form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 20px;
  width: 360px;
  min-height: 50px;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #000000;

  background-color: rgba(242, 242, 242, 0.5);
  border: none;  
}

.contact-us-form-input:hover {
  background-color: #f2f2f2;
}

.contact-us-form-input:focus {
  background-color: transparent;
  outline: #f7e296 solid 3px;
}

.contact-us-text {
  resize: none;
}

.modal-contact-us .contact-us-text {
  width: 760px;
  min-height: 155px;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.4);
}

.modal-contact-us .contact-us-text:focus {
  color: #000000;
}

.modal-close {
  position: absolute;  
  top: 24px;
  right: 22px;

  width: 55px;
  height: 55px;

  border: none;  
  background-color: transparent;  
  background-image: url("../img/shared/modal-close.svg");
  opacity: 0.5;

  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-map {  
  width: 960px;
  height: 559px;
}

.modal-map img {
  width: 960px;
  height: 559px;
}

.modal-map iframe {
  position: relative;
  z-index: 2;
}

.modal-map a {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-map .modal-close  {
  z-index: 3;
}

/* Modal placeholder settings */

.contact-us-form input[type="text"]::-webkit-input-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;

  opacity: 0.4;
}

.contact-us-form input[type="text"]::-moz-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;

  opacity: 0.4;
}

.contact-us-form input[type="text"]::-ms-input-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;

  opacity: 0.4;
}

.contact-us-form input[type="text"]:-moz-placeholder {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #464646;

  opacity: 0.4;
}

/* End of modal placeholder settings */

.modal-show {
  display: block;

  animation-name: popup-show;
  animation-duration: 0.6s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.wrong-input {
  animation-name: back_red_color;
  animation-duration: 0.6s;
  animation-timing-function: ease;
}

@keyframes popup-show {
  from {
    top: -2000px;
  }
  to {
    top: 100px;
  }
}

@keyframes back_red_color {
  0%, 100% {
    background-color: #ffffff;
  }
  50% {
    background-color: red;
  }
}

.visually-hidden-even-for-ie-11:active {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}